# whisper build artifacts
/whisper/
*.bin

# Node modules
/node_modules

# Environment secrets
.env

# Mac system files
.DS_Store
__pycache__/

# Python virtual environments
/backend/whisper-env/
.pytest_cache/
